<!--
TauFramework usage example
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Tau Framework page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div><p>Tau Framework sample page</p></div>
        <div>email placeholder: {email_placeholder}</div>
        
        <div class="formContainer">
            {replace_frm_test}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="js/tau/validation.js" ></script>
              
    </body>
</html>
