<!DOCTYPE html>
<html>
    <head>
        <title>Language Completer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../install.css">
    </head>
    <body>
       
<div class="main">
    
    <p>Editing translations for file {{replace_full_filename}}</p>
    <hr>
    
    {{replace_content_1}}
    
    {{replace_testing_a}}
    
    {probando_1}
    
    replace_static_data    
</div>
        <hr>
        {{replace_copyright}}
    </body>
</html>
