/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-mar-2015, 13:43:23
    Author     : lucas
*/


body{
    color: rgb(90, 90, 90);
    display: inline;
    font-family: monospace, serif;
    font-size: 14px;
    height: auto;
    line-height: 22.399999618530273px;
    white-space: pre-wrap;
    width: auto;
}

.success{
    color:#0a0;
}
.red{
    color:#f00;
}
.main{
    margin:15px;
    margin-left: 25px;
}
.tf{
    color:#0000e6;
}
.lightgreen{
    color:#11c411;
    font-weight:bolder;
}
.constant{
    color:#8000ff;
}

input{
    width: 300px;
}
label{
    cursor:pointer;
}

p{
    margin:0px;
}